.rounded-circle{
    position: relative;
    width: 18em;
    height: 18em;
    top: 300px;
    left: 225px;
    background: #8ECAE6
}


.profileContent{
    position: relative;
    top: 50px;
    margin-left: 925px;
    bottom: 105px;
}

.profileContainer{
    position: relative;
    height: 187px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 50px;
    right: 150px;
}

.containerTitles{
    font-size: 25px;
    font-weight: bold;
    margin-top: 75px;
    margin-left: 30px;
}

.profileContent ul{
    list-style-type: none;
} 