.bookPagetitle{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -330%);
    padding-left: 2em;
    padding-right: 2em;
}

.bookPagetitle td {
    width: 90px;
    padding: 0px 4px;
}

.datePicker{
    position: relative;
    top: 20em;
}

#padding-left {
    position: relative;
    left: 30px;
}

.break-times h4 {
    text-align: center;
    padding-top: 10px;
}

.break-times td {
    padding: 0px 20px;
}

.MuiGrid-spacing-xs-1{
    width: 100% !important;
}


.booking-time-information {
    text-align: center;
    position: absolute;
    top: 95%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0%);
    font-weight: 500;
}


.booked-times {
    list-style-type: none;
    max-height: 150px;
    overflow-y: scroll;
} 