.bookPagetitle{
    position: relative;
    top: 5em;
    font-size: 32px;
    padding-left: 2em;
    padding-right: 2em;
}

.datePicker{
    position: relative;
    top: 20em;
}

#padding-left {
    position: relative;
    left: 30px;
}

.break-times h4 {
    text-align: center;
    padding-top: 10px;
}

.break-times td {
    padding: 0px 20px;
}

.MuiGrid-spacing-xs-1{
    width: 100% !important;
}
