body{
    max-width: 100vw;
    background-color: #F3F3F3;
    overflow-y: hidden;
}

.navbar{
    position: absolute;
    z-index: 99;   
}
.navbarPosition{
    margin-left: 20px; 
}

.bg-primary{
    height: 97px;
    width: 100%;
    background: linear-gradient(90deg, #8ECAE6 0%, #257CE6 100%);
    font-size: 30px;
}

.navbarText{
    font-size: 35px; 
}

img.logo{
    position: absolute;
    height: 45px;
    width: 45px;
    right: 40px;
    top: 24px;
    user-select: none;
}
